*{
    margin:0;
    padding: 0;
}
/* body{
    background-color: purple;
} */
.flex-container{
    /* margin: 0; */
    display: flex;
    /* flex-wrap: wrap;   */
    flex-direction: column;

}
/* Developer pic section */

.devPic{
    flex: 20%;
    /* width:450px; */
    /* height: auto; */
    background-color: rgb(168, 165, 165);
    /* margin: 0; */
}
.devPic img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    /* margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%; */
    /* justify-content: center; */
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}
.devPic button{
    display: block;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    font-size: 13px;
    padding: 10px;
    /* 
    margin-top: 40%;
    margin-left: 35%; */
    background-color: rgb(36, 222, 246);
}
.devPic a{
    margin-top: 50%;
    margin-left: 10%;
    color: black;
}
.devPic p{
    margin-top: auto;
    margin-left: 10%;
}

/* End Developer pic Section */

/* Developer Info Css */

.info-container{
    flex: 80%;
    /* margin-left: 5%; */
    /* width: 100vmax;
    height:100vmax; */
    background-color: rgb(229, 245, 11);
}

.devName{
    margin-left: 5%;
}

.devName h1{
    font-size: 50px;
    justify-content: center;
}
.devName p{
    font-size: 30px;
}
.devEdu{
    margin-top: 2%;
    margin-left: 5%;
}
.devEdu h1{
    font-size: 40px;
}
.devEdu ul{
    list-style: none;
}
.devEdu li{
    padding-top: 5px;
    font-size: 30px;
}

.devAchiev{
    margin-top: 2%;
    margin-left: 5%;
}
.devAchiev h1{
    font-size: 40px;
}

.devAchiev ul{
    list-style: none;
}
.devAchiev li{
    padding-top: 5px;
    font-size: 30px;
}
.devSkill{
    margin-top: 2%;
    margin-left: 5%;
}
.skill-card{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: max-content;
    padding: 5px;
}
.card p{
    font-size: 30px;
}

.devProject{
    margin-top: 2%;
    margin-left: 5%;
}
.project-card{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction:column ;
    justify-content: space-between;
}
.devHobbies{
    margin-top: 2%;
    margin-left: 5%;
}
.hobbies-card{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    font-size: 20px;
    background-color: rgb(36, 222, 246);
}
@media(min-width:600px){
    .flex-container{
        flex-direction: row;
    }
}